body {
    font-family: Verdana;
}
label{
    text-align: center;

}
.row{
    display: flex;
    flex-direction: column;
}
.block1{
    display: flex;
    width: 80%;
    height: 20%;
    background-color: grey;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding: 1%;
    border-radius: 1%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#header {
    font-size:25px;
    text-align:center;
    margin:15px;
    color: white;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

#navbar ul li {
    float: left;
    height:7%;
}

#navbar ul li * {
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar ul li a:hover {
    background-color: orange;
}

#content {
    margin-top:40px;
    margin-left: 3%;
    margin-right: 3%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    background-color: #62a37d;
    opacity: 0.8;
}
#parent_popup {
    background: #000;
    height: 100%;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    display:none;
}
#popup {
    border-radius: 10px;
    border-width: 1px;
    background-color: orange;
    margin:10%;
    padding:10px;
    width:80%;
    color: black;
}

form {
    font-family: sans-serif;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #e6f7f7;
    width: 60%;
    margin-left: auto;
margin-right: auto;

}
textarea{
    width: 70%;
}



label {
    width: 80px;
    display: inline-block;
}


button {
    border: 1px solid black;
    padding: 3px 5px;
    margin: 7px;
    font-weight: bolder;
    width: 110px;
    background-color: white;
    font-size: inherit;
    cursor: pointer;
}
button:hover {
    background-color: white;
}

.sum {
    margin-top: 10px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 3px;
}
.sum input {
    padding: 2px 15px;
    margin-left: 95px;
    border-radius: 15px;
    border: 2px solid #008F00;
    background: linear-gradient(#00E000, #008F00);
    color: white;
}

#register {
    display:none;
}
.task {
    background: white;

}
#PROGRESS {
    width:80%;
}
a:hover {
    color: red;
}
a {

    color: orange;
    text-decoration: none;
}
table{
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.wid{
    width: 83%;
}
caption{
    font-size: 1.5em;
    color: white;
    margin-bottom: 4%;

}